.case-execution-handle-area {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    height: calc(100vh - 190px);
    overflow: auto;
}

.case-execution-handle-title {
    font-size: 16px;
    font-weight: 600;
}

.case-form-step-data {
    height: calc(100vh - 300px);
    overflow: auto;
}

.ant-form-item-label {
    font-weight: 600;
}