.case-type-wrapper {
    height: 100%;
}

.case-type-wrapper .toolbar-area {
    padding: 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0 0 5px 0;
    border-radius: 2px;
}

.ant-table-container {
    height: calc(100vh - 200px);
    overflow: auto;
}

.search-form {
    padding: 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0 0 5px 0;
    border-radius: 2px;
}

.law-article-demo-editor {
    height: calc(100vh - 528px);
    min-height: 200px;
    overflow: auto;
    border: 1px solid #F1F1F1;
}