.subject-data-subject .case-form-area {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    height: calc(100vh - 190px);
    overflow: auto;
}

.subject-data-subject .panel-title {
    padding: 10px;
    border-bottom: 1px solid #efefef;
    height: 45px;
}

.subject-data-subject .panel-title-text {
    font-weight: 600;
    float: left;
}

.subject-data-subject .panel-title-toolbar {
    float: right;
}

.subject-data-subject .panel-title-toolbar-button {
    margin-left: 1px;
}

.subject-data-subject .panel-content {
    margin-top: 10px;
    height: calc(100vh - 270px);
    width: 99%;
    overflow: auto;
}

.panel-content-law-title {
    margin-bottom: 10px;
}

.panel-content-law-content {
    height: calc(100vh - 370px);
    border: 1px solid #efefef;
    padding: 5px;
    overflow: auto;
}

.subject-data-subject .ant-table-container {
    height: calc(100vh - 326px);
    overflow: auto;
}

pre {
    white-space: pre-wrap;      /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since1999 */
    white-space:-pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /*Opera 7 */
    word-wrap:break-word;       /* Internet Explorer 5.5+ */
}